@page "/"
@using Model
@inject peopleContext db

<PageTitle>Pocet lidi v db</PageTitle>

<h2>Pocet lidi v db</h2>

<h1>@count</h1>

@code{
    public int count;
    protected override void OnInitialized()
    {
        count = db.Persons.Count();
    }
}